---
layout: default
---

<div class="posts-list">
    {% for post in site.posts %}
    <article class="post">
        <h2 class="post-title"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
        <div class="post-date">{{ post.date | date: "%b %-d, %Y" }} ✨</div>
        <div class="post-content">
            {% if post.path contains '_posts/text/' %}
                {{ post.content | truncatewords: 50 }}
                <p><a href="{{ site.baseurl }}{{ post.url }}">Read more →</a></p>
            {% else %}
                {% assign content = post.content %}
                {% if content contains '<img src="' %}
                    <div style="display: flex; justify-content: center;">
                        <div style="max-width: 450px; width: 100%;">
                            {% assign img_path = content | split: '<img src="' | last | split: '" />' | first %}
                            {% assign clean_path = img_path | remove: '{{ site.baseurl }}' %}
                            {% assign path_parts = clean_path | split: '/' %}
                            {% assign filename = path_parts | last %}
                            {% assign dirs = path_parts | pop | join: '/' | append: '/' %}
                            {% assign thumbnail_path = dirs | append: 'thumbnails/' | append: filename | replace: '.heic', '.jpeg' %}
                            <a href="{{ img_path }}">
                                <img src="{{ site.baseurl }}/assets/images/blank.png" data-echo="{{ thumbnail_path }}" style="width: 100%; height: auto;" />
                            </a>
                        </div>
                    </div>
                {% else %}
                    {{ post.content }}
                {% endif %}
            {% endif %}
        </div>
    </article>
    {% endfor %}
</div>
