---
layout: default
---

<article>
    <h1 class="post-title">{{ page.title }}</h1>
    <div class="post-date">{{ page.date | date: "%b %-d, %Y" }} ✨</div>
    <div class="post-content">
        {% if page.path contains '_posts/photos/' %}
            <div style="display: flex; justify-content: center;">
                <div style="max-width: 450px; width: 100%;">
                    {% assign img_tag = content | split: '<img src="' | last | split: '" />' | first %}
                    <a href="{{ img_tag }}">
                        <img src="{{ img_tag }}" style="width: 100%; height: auto;" />
                    </a>
                </div>
            </div>
        {% else %}
            {{ content }}
        {% endif %}
    </div>
</article>
