---
layout: default
---

<style>
    .post-content img {
        max-width: 100%;
        height: auto;
        cursor: pointer;
    }
</style>

<article>
    <h1 class="post-title">{{ page.title }}</h1>
    <div class="post-date">{{ page.date | date: "%b %-d, %Y" }} ✨</div>
    <div class="post-content">
        {{ content }}
    </div>
</article>

<script>
document.querySelectorAll('.post-content img').forEach(img => {
    const link = document.createElement('a');
    link.href = img.src;
    link.target = '_blank';
    img.parentNode.insertBefore(link, img);
    link.appendChild(img);
});
</script>
